#root {
  list-style: none;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  list-style: none;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  list-style: none;
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  list-style: none;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  list-style: none;
  padding: 2em;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 10px; /* Smooth corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.read-the-docs {
  list-style: none;
  color: #888;
}
